@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Anton&family=Bagel+Fat+One&family=Bebas+Neue&family=Caveat:wght@500;600&family=Cherry+Bomb+One&family=Croissant+One&family=Dancing+Script:wght@400;600&family=Esteban&family=Exo+2:ital,wght@0,300;1,200&family=Faster+One&family=Frijole&family=Fuggles&family=KoHo&family=Lora:ital@1&family=Mina&family=Nosifer&family=Playfair+Display:wght@400;500&family=Rajdhani&family=Rancho&family=Rubik+Dirt&family=Shadows+Into+Light&family=Trade+Winds&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/photo-1552083940-86877723de7a.avif);
   
}
nav{
    padding-top: 1.5rem ;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 4rem;
    padding-left: 1.5rem;
}

.header{
    height: 90px;
    background-image: linear-gradient(to right, rgb(219, 234, 254), rgb(147, 197, 253), rgb(59, 130, 246));
    position: sticky;
    top: 0;
    z-index: 2;
}

nav a{
    text-decoration: none;
    color: rgb(67, 168, 236);
    font-family: 'Croissant One', cursive;
    font-weight: 600;
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}

a:first-child{
    background-color: rgb(67, 168, 236);
    color: white;
}

nav div{
    position: fixed;
    right: 1rem;
    width:300px;
    display: flex;
    justify-content: center;
}

div input{
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    border: 2px solid rgb(0, 145, 255);
}

.top{
    padding: 1rem;
    border-radius: 0 10px 10px 0 ;
    border: 2px solid rgb(51, 158, 240);
    background-color:#59e9d8e7;
    margin-left: 2px;
}
.top:hover{
    transform: scale(1.09);
}

.top:active{
    background-color:#59e9d8b5;
}

a:hover{
    color: rgba(67, 168, 236, 0.805);
    background-color: rgba(255, 255, 255, 0.805);
}

a:first-child:hover{
    background-color: rgba(67, 168, 236, 0.805);
    color: rgba(255, 255, 255, 0.805);
}

a:active{
    box-shadow:  5px 5px rgb(0, 145, 255);
}

a:first-child:active{
    box-shadow:  5px 5px rgba(157, 156, 156, 0.902);
}

main h1{
 display: flex;
 justify-content: center;
 padding: 2rem 30rem;
 color: rgb(96, 227, 250);
 font-size: 5rem;
 font-family: 'Nosifer', cursive;
}

.card{
    width: 350px;
    height: 450px;
    padding: 20px;
    margin: 30px;
    margin-bottom: 3rem;
    background-image: radial-gradient(at right center, rgb(56, 189, 248), rgb(49, 46, 129));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover{
    transform: scale(1.1);
    outline: thick double #32a1ce;
}
.cards{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

img{
    max-width: 270px;
    min-height: 230px;
    border-radius: 5px;
    margin-top: 1rem;
    border: 1px solid #b0f0ff;
}
img+p{
    padding: 0.5rem;
    font-weight: 100;
    text-align:center;
color: rgba(237, 235, 235, 0.814);
font-family: 'Mina', sans-serif;
}

.down{
    border-radius: 7px;
    background-color: #4dccbdec;
    border: #4dccbdd2 1px solid;
    padding: 1rem;
}

.down:hover{
   box-shadow: 0 0 3px 3px white;
}

.down:active{
    background-color: #4dccbd79;
}

h3.img+img{
    height: 230px;
}
.img{
    font-family: 'Croissant One', cursive;
    color: #b0f0ff;
}
footer{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to left, rgb(219, 234, 254), rgb(147, 197, 253), rgb(59, 130, 246));
    width: 100vw;
    height: auto;
}
.font{
    font-family: 'Rancho', cursive;
    font-weight: 400;
    text-align: center;
}

.oo{
    font-size: 2rem;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.icons{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 2rem;

}

.fa-brands{
    text-decoration: none;
    color: black !important;
    background-color: rgb(118, 209, 251) !important;
}

.fa-brands:hover{
    background-color: black;
}

@media screen and (max-width: 1059px) and (min-width:764px ) {
    div input{
        display: none;
    }
    
    .top{
        display: none;
    }
    nav a{
        text-decoration: none;
        color: rgb(67, 168, 236);
        font-family: 'Croissant One', cursive;
        font-weight: 600;
        background-color: white;
        padding: 0.5rem 2rem;
        border-radius: 10px;
        margin-left: 3rem;
    }

    main h1{
        display: flex;
        justify-content: center;
        padding: 2rem 30rem;
        color: rgb(96, 227, 250);
        font-size: 5rem;
        font-family: 'Nosifer', cursive;
       }
}